
extends ./layout.pug
block content 
    div.container.p-3
        .row.justify-content-end
            .col-3
                form(method='GET' action='/activites/addActivity')
                    input(type='submit' value='Add Activity')
                    
    div.container.m-auto
        .activites_view.row 
            each activity in activities
                .col-6
                    .card.border
                        img.card-img-top(src='activity.image' alt="Activity img can't load" width=300 height=230)
                        .card-body
                            h5.card-title #{activity.Name}
                            p.card-text
                                |Description: #{activity.Description}
                                |Price: #{activity.Price}
                                if(authority=="1")
                                    a(href=`/activites/editActivity/${activity._id}` class="btn btn-primary").m-2 Edit
                                    a(href=`/activites/deleteActivity/${activity._id}` class="btn btn-danger ms-2") Delete    

    div.p-3
            nav(aria-label='Page navigation example')
                ul.pagination.justify-content-center
                    
                    each page in Array.from(Array(totalPages).keys())
                        if page + 1 == currentPage
                            li.page-item.active
                                a.page-link(href=`/activites?page=${page + 1}`) #{page + 1}
                                //- #{console.log(currentPage)}
                        else
                            li.page-item
                                a.page-link(href=`/articles?page=${page + 1}`) #{page + 1}
                        
